@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000; /* 항상 검은색 배경 */
  --foreground: #ededed; /* 텍스트 색상은 밝은 회색 */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.slick-dots li button:before {
  color: white !important;
  opacity: 0.9;
}

.slick-dots li.slick-active button:before {
  color: gold !important;
  opacity: 1;
}

a {
  color: #007bff !important; /* 링크 스타일 파란색 */
  text-decoration: underline !important; /* 밑줄 */
  cursor: pointer !important; /* 마우스 오버 시 포인터 */
}
